<div id="livegame" class="container-fluid d-flex flex-column align-items-center justify-content-center position-fixed">
	<!-- Bouton de lancement -->
	<div class="game-container d-flex justify-content-center align-items-center">
		 <!-- Zone de score positionnée en haut du terrain -->
		 <div id="score-display" class="score-display text-center">
			<span class="player-name left">{{ player_left_name|default:"Joueur 1" }}</span>
			<span id="score-nb"> | 0 - 0 | </span>
			<span class="player-name right">{{ player_right_name|default:"Joueur 2" }}</span>
		  </div>
		<button id="startGameBtn" class="btn starting-btn" disabled>PLAY</button>
		<canvas id="gameCanvas"></canvas>
	</div>
</div>
  
  

<style>
	body, html {
		overflow: hidden;
	}

	#ground-game, .terrain{
		display: none;
	}


	#startGameBtn {
		z-index: 60;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#livegame {
		z-index: 50;
		margin: 0;
		height: 100vh;
		width: 100%;
		padding-top: 50px;
		color: white;
	}

	.game-container {
		z-index: 50;
		width: max(80vw, 400px);
		aspect-ratio: 2 / 1;
		position: relative;
		top :0;
	}

	#gameCanvas {
		position: absolute; 
		z-index: 50;
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto; 
		border: 1px solid white;
		border-radius: 1em;
		background-color: #101A32;
	}

	.starting-btn {
    font-family: "Jersey 10", sans-serif; /* Garde uniquement la police que tu utilises */
	width: 30%;
    height: 40%;
    color: rgba(45, 180, 243, 0.4); /* Couleur atténuée au début */
    background: none; /* Pas de fond pour un effet propre */
    border: none;
    z-index: 60;
	opacity: 0.1;
    transition: opacity 0.5s ease-in-out, text-shadow 0.5s ease-in-out;

	font-size: clamp(2rem, 20vw, 15vh); /* Adapte le texte à la taille du bouton */
    
    /* Centrer le texte dans le bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

	min-width: 100px;
}



/* Clignotement normal */
@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

/* Effet de lumière rétro autour du texte sans flou */


/* Activation du clignotement normal après le lent */
.starting-btn.active {
    color: #2DB4F3; /* Couleur vive */
    animation: blink 2s infinite;
}

.score-display {
  position: absolute;
  transform: translateX(-50%);
  color: white;
  font-family:  "Jersey 10", sans-serif;
  /* font-size: 1.5rem;     Ajustez la taille de la police selon vos besoins */
  z-index: 60;           /* Au-dessus du canvas et du bouton PLAY */
}

.player-name.left, .player-name.right{
		color: rgba(45, 180, 243, 1);  /* Par exemple, rouge pour le joueur de gauche */
	}

  
</style>